<ion-header color="gpsc">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Daily Report</ion-title>
        <ion-buttons end>
            <ion-datetime class="dateStyle" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="to"
                (ionChange)="getDailyReportData()"></ion-datetime>
        </ion-buttons>
    </ion-navbar>
    <ion-item style="background-color: #fafafa;">
        <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
        <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
            itemTextField="Device_Name" [canSearch]="true" (onChange)="getSelectedId(selectedVehicle)">
        </select-searchable>
    </ion-item>
    <!-- <ion-searchbar placeholder="Search..." (ionInput)="getItems($event)"></ion-searchbar> -->
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of deviceReport">
        <!--<ion-card-header>
            <ion-row>
                <ion-col col-2>
                    <ion-thumbnail item-start>
                        <img src="assets/imgs/car_img1.png">
                    </ion-thumbnail>
                </ion-col>
                <ion-col col-10 style="font-size: 1.2em">
                    <b>{{item.Device_Name }}</b>
                </ion-col>
            </ion-row>

        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col col-12>
                    <ion-row style="padding-bottom: 0px;">
                        <ion-col col-4 color="secondary" style="font-size: 1.5em;" ion-text>
                            <b>{{item.today_running}}</b>
                        </ion-col>
                        <ion-col col-4 color="danger" style="font-size: 1.5em;" ion-text>
                            <b>{{item.today_stopped}}</b>
                        </ion-col>
                        <ion-col col-4 style="color:#11c1f3; font-size: 1.5em;"><b>{{item.today_trips}}</b></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4 style="color:gray">Running</ion-col>
                        <ion-col col-4 style="color:gray">Stop</ion-col>
                        <ion-col col-4 style="color:gray">Trips</ion-col>
                    </ion-row>
                    <ion-row style="padding-bottom: 0px;">
                        <ion-col col-4 style="font-size: 1.5em; color:#009688;" ion-text>
                            <b>{{item.today_odo | number : '1.0-2'}}</b>
                        </ion-col>
                        <ion-col col-4 style="font-size: 1.5em; color:#009688;" ion-text>
                            <b>{{item.maxSpeed}}</b>
                        </ion-col>
                        <ion-col col-4><b></b></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4 style="color:gray" ion-text>
                            Distance(Km)
                        </ion-col>
                        <ion-col col-4 style="color:gray">Max Speed</ion-col>
                        <ion-col col-4></ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card-content> -->
        <ion-item style="border-bottom: 2px solid #dedede;">
            <ion-avatar item-start>
                <img src="assets/imgs/car_img1.png">
            </ion-avatar>
            <p style="color:black; font-size:16px; padding-left: 4px;">{{item.Device_Name }}</p>
            <ion-row style="margin-top:6%;">

                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                        <span *ngIf="item.today_running">{{item.today_running}}</span>
                        <span *ngIf="!item.today_running">00.00</span>&nbsp;</p>
                    <p style="color:#53ab53;margin-left:0%;font-size:11px;font-weight: 350;">Running</p>
                </ion-col>
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                        <span *ngIf="item.today_stopped">{{item.today_stopped}}</span>
                        <span *ngIf="!item.today_stopped">00.00</span>&nbsp;</p>
                    <p style="color:#5dd17f;text-align:left;font-size: 11px;color:red;font-weight:350;">Stop</p>
                </ion-col>
                <ion-col center text-center>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                        <span *ngIf="item.today_trips">{{item.today_trips}}</span>
                        <span *ngIf="!item.today_trips">00.00</span>&nbsp;</p>
                    <p style="text-align:left;font-size: 11px;color:#11c1f3;font-weight:350;">Trips</p>
                </ion-col>
            </ion-row>
            <ion-row style="margin-top: 2%;">
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                        <span *ngIf="item.today_odo">{{item.today_odo | number : '1.0-2'}}</span>
                        <span *ngIf="!item.today_odo">00.00</span>&nbsp;</p>
                    <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;">Distance(Km)</p>
                </ion-col>
                <ion-col>
                    <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                        <span *ngIf="item.maxSpeed">{{item.maxSpeed}}&nbsp;Km/h</span>
                        <span *ngIf="!item.maxSpeed">00.00</span>&nbsp;</p>
                    <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;">Max Speed</p>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-item>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>