<ion-header>
  <ion-navbar>
    <button *ngIf="showMenuBtn" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Live Tracking
      <span *ngIf="titleText">For {{titleText}}</span>
    </ion-title>
    <ion-buttons end *ngIf="showBtn">
      <button ion-button (click)="ngOnInit()">All Vehicles</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item *ngIf="!titleText">
    <ion-label>{{SelectVehicle}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="temp(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <div id="map_canvas">
    <ion-fab top left>
      <button ion-fab color="light" mini (click)="onClickMainMenu()">
        <ion-icon color="gpsc" name="map"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="onClickMap('SATELLITE')" color="gpsc">
          S
        </button>
        <button ion-fab (click)="onClickMap('TERRAIN')" color="gpsc">
          T
        </button>
        <button ion-fab (click)="onClickMap('NORMAL')" color="gpsc">
          N
        </button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab top right *ngIf="selectedVehicle == undefined">
      <button ion-fab mini (click)="onSelectMapOption('mapHideTraffic')" color="{{mapHideTraffic ? 'light' : 'gpsc'}}">
        <ion-icon name="walk" color="{{mapHideTraffic ? 'dark-grey' : 'black'}}"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 15%"
      *ngIf="selectedVehicle == undefined">
      <button ion-fab mini (click)="onSelectMapOption('showGeofence')" color="{{showGeofence ? 'light' : 'gpsc'}}">
        <!-- <ion-icon name="pin" color="{{showGeofence ? 'dark-grey' : 'black'}}"></ion-icon> -->
        <img src="assets/imgs/geo.png" />
      </button>
    </ion-fab>
    <!-- <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 90%" *ngIf="selectedVehicle != undefined">
      <button ion-fab mini (click)="onSelectMapOption('locateme')" color="gpsc">
        <ion-icon name="locate" color="black"></ion-icon>
      </button>
    </ion-fab> -->

    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 73%"
      *ngIf="selectedVehicle != undefined">
      <button ion-fab mini (click)="zoomin()" color="gpsc">
        <ion-icon name="add" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 85%"
      *ngIf="selectedVehicle != undefined">
      <button ion-fab mini (click)="zoomout()" color="gpsc">
        <ion-icon name="remove" color="black"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab top right *ngIf="selectedVehicle != undefined">
      <button ion-fab mini (click)="onClickMapMenu()" color="light">
        <ion-icon name="arrow-dropdown-circle" color="gpsc"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="onSelectMapOption('mapHideTraffic')" color="{{mapHideTraffic ? 'light' : 'gpsc'}}">
          <ion-icon name="walk" color="{{mapHideTraffic ? 'dark-grey' : 'black'}}"></ion-icon>
        </button>
        <button ion-fab *ngIf="showShareBtn" (click)="shareLive($event)" color="gpsc">
          <ion-icon name="share" color="black"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
  </div>

</ion-content>
<div *ngIf="onClickShow" class="divPlan">
  <ion-bottom-drawer [(hidden)]="drawerHidden" [dockedHeight]="dockedHeight" [bounceThreshold]="bounceThreshold"
    [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
    <div class="drawer-content">
      <p padding-left style="font-size: 13px; padding-bottom: 3px; color:cornflowerblue;">Last Updated On &mdash;
        {{last_ping_on | date:'medium'}}</p>
      <p padding-left style="font-size: 13px" *ngIf="!address">N/A</p>
      <p padding-left style="font-size: 13px" *ngIf="address">{{address}}</p>
      <hr>
      <ion-row>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/ign_red.png" *ngIf="last_ACC=='0'" width="20" height="20">
          <img src="assets/imgs/statusIcons/ign_green.png" *ngIf="last_ACC=='1'" width="20" height="20">
          <img src="assets/imgs/statusIcons/ign_idle.png" *ngIf="last_ACC==null" width="20" height="20">
          <p>IGN</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/ac_na.png" *ngIf="acModel==null" width="20" height="20">
          <img src="assets/imgs/statusIcons/ac_present.png" *ngIf="acModel=='1'" width="20" height="20">
          <img src="assets/imgs/statusIcons/ac_empty.png" *ngIf="acModel=='0'" width="20" height="20">
          <p>AC</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/fuel_available.png" *ngIf="currentFuel != null" width="20" height="20">
          <img src="assets/imgs/statusIcons/fuel_empty.png" *ngIf="currentFuel == null" width="20" height="20">
          <p>FUEL</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/power_na.png" *ngIf="power==null" width="20" height="20">
          <img src="assets/imgs/statusIcons/pwer_disconnected.png" *ngIf="power=='0'" width="20" height="20">
          <img src="assets/imgs/statusIcons/power_connected.png" *ngIf="power=='1'" width="20" height="20">
          <p>POWER</p>
        </ion-col>
        <ion-col width-10 style="text-align:center">
          <img src="assets/imgs/statusIcons/gps_na.png" *ngIf="gpsTracking==null" width="30" height="20">
          <img src="assets/imgs/statusIcons/gps_notPresent.png" *ngIf="gpsTracking=='0'" width="30" height="20">
          <img src="assets/imgs/statusIcons/gps_present.png" *ngIf="gpsTracking=='1'" width="30" height="20">
          <p>GPS</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!total_odo">N/A</p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="total_odo">{{total_odo | number : '1.0-2'}}</p>
          <p style="font-size: 13px">Odometer</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!vehicle_speed">0 km/h</p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="vehicle_speed">{{vehicle_speed}} km/h</p>
          <p style="font-size: 13px">
            Speed
          </p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="fuel">{{fuel}}</p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="!fuel">N/A</p>
          <p style="font-size: 13px">Fuel</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!distFromLastStop">0 Km</p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="distFromLastStop">{{distFromLastStop | number : '1.0-2'}}
            Km</p>
          <p style="font-size: 13px">From Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/milestone-png-1.png" width="30" height="35" style="margin-top: 9%">
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!todays_odo">0 Km</p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="todays_odo">{{todays_odo | number : '1.0-2'}} Km</p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!timeAtLastStop">N/A</p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="timeAtLastStop">{{timeAtLastStop}}</p>
          <p style="font-size: 13px">At Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/parkinglogo.png" width="30" height="30" style="margin-top: 9%">
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!today_stopped">N/A</p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="today_stopped">{{today_stopped}}</p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!lastStoppedAt">N/A</p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="lastStoppedAt">{{lastStoppedAt}}</p>
          <p style="font-size: 13px">From Last Stop</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/2530791.png" width="30" height="35" style="margin-top: 9%">
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold" *ngIf="!today_running">N/A</p>
          <p style="font-size: 14px; font-weight: bold" *ngIf="today_running">{{today_running}}</p>
          <p style="font-size: 13px">Total</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>

<div *ngIf="showFooter">
  <ion-bottom-drawer [(hidden)]="drawerHidden1" [dockedHeight]=200 [bounceThreshold]="bounceThreshold"
    [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
    <div class="drawer-content">
      <p style="font-size:1.2em; color:black;">Share Live Vehicle</p>
      <ion-row>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{condition}}" (click)="sharedevices('15mins')">15
            mins</button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{condition1}}" (click)="sharedevices('1hour')">1
            hour</button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{condition2}}" (click)="sharedevices('8hours')">8
            hours</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="text-align: right;">
          <ion-fab style="right: calc(10px + env(safe-area-inset-right));">
            <button ion-fab mini (click)="shareLivetemp()" color="gpsc">
              <ion-icon name="send" color="black"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>